.container {
    position: relative;
}
#overlay {
    position: absolute;
    left: 300px;
    top: 200px;
    background-color: rgb(0 0 0);
    color:#cff5ff;
    font-family: monospace;
    padding: 1em;
    font-size:xx-large;
}